.container {
  width: 100vw;
  overflow-x: scroll;
}
.flex {
  display: flex;
  justify-content: center;
}
.column {
  width: 300px;
}
.timeRange {
  width: calc(100% - 0.2rem);
  padding: 0.5rem 0;
  margin: 0.1rem 0;
  font-family: monospace;
  font-size: 1rem;
  text-align: center;
}
.selected {
  outline: 2px solid #005fcc;
}
.companyName {
  font-size: 1.5rem;
  text-align: center;
}
.dayOfWeek {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.3rem 0;
}
.clickable {
  cursor: pointer;
}
